.button {
  color: $white;
  background-color: transparent;
  font-family: $font-roboto-c;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  border: 1px solid $white;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  margin: 0;
}
