.button-menu {
  display: none;
}

@media (max-width: $mobile-max-width) {
  .menu-close {
    display: none;
  }

  .button-menu {
    display: block;

    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    position: relative;

    cursor: pointer;

    &::before {
      content: "";

      position: absolute;
      right: 0;
      top: 8px;

      width: 17px;
      height: 1px;

      background-color: $bg-dark;
      opacity: 0.5;
    }

    &::after {
      content: "";

      position: absolute;
      right: 8px;
      top: 0;
      width: 1px;
      height: 17px;

      background-color: $bg-dark;
      opacity: 0.5;
    }

    &:hover::before,
    &:focus::before {
      opacity: 1;
    }

    &:active::before {
      opacity: 0.75;
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
    }

    &:active::after {
      opacity: 0.75;
    }
  }

  .button-menu--open {
    &::after {
      display: none;
    }
  }
}
