.button {
  margin: 0;
  border: 1px solid $white;
  border-radius: 5px;

  font-family: $font-roboto-c;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $white;

  background-color: transparent;

  cursor: pointer;
}
