.features {
  max-width: 1220px;
  padding: 112px 25px 73px;
  margin: 0 auto;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__item {
  max-width: 570px;
  min-height: 300px;
  width: calc(48% + 8px);
  margin-bottom: 30px;

  background-color: $white;
  border: 1px solid $border-grey;
  border-left: 2px solid $blue;

  display: flex;
  align-items: stretch;
}

.features__item:nth-child(2n+1) {
  margin-right: 20px;
}

.features__link {
  display: block;
  padding: 39px 43px 66px;

  color: $grey;

  &:hover,
  &:focus {
    color: $white;
    background-color: $blue;
  }
}

.features__link svg {
  margin-bottom: 14px;
}

.features__link--terms svg,
.features__link--suppliers svg,
.features__link--price svg,
.features__link--confidentiality svg {
  fill: $blue;
}

.features__link--confidentiality svg {
  margin-bottom: 17px;
}

.features__link h3 {
  margin: 0;
  padding-bottom: 15px;

  font-family: $font-roboto-c;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: $blue;
}

.features__link p {
  margin: 0;
}

.features__link:hover h3,
.features__link:focus h3 {
  color: $white;
}

.features__link:hover svg,
.features__link:focus svg {
  fill: $white;
}

@media (max-width: $tablet-max-width) {
  .features {
    padding-top: 54px;
    padding-bottom: 23px;
  }

  .features__item {
    width: calc(47% + 7px);
    min-height: 232px;
  }

  .features__link {
    padding: 24px 19px 19px 26px;
  }

  .features__link svg {
    margin-bottom: 1px;
  }

  .features__link--suppliers svg {
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
  }

  .features__link--confidentiality svg {
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
  }

  .features__link--price svg {
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
  }

  .features__link h3 {
    padding-bottom: 9px;
  }
}

@media (max-width: $mobile-max-width) {
  .features {
    padding: 37px 15px 31px;
  }

  .features__list {
    display: block;
  }

  .features__item:nth-child(2n+1) {
    margin-right: auto;
  }

  .features__item {
    margin: 0 auto 20px;

    min-width: 290px;
    width: 91%;
  }

  .features__link {
    padding: 24px 19px 23px 25px;
  }

  .features__link svg {
    margin-bottom: 3px;
  }

  .features__link--suppliers {
    padding-right: 12px;
  }

  .features__link--suppliers svg {
    margin-bottom: 6px;
  }

  .features__link--confidentiality svg {
    margin-bottom: 7px;
  }

  .features__link h3 {
    font-size: 20px;
    padding-bottom: 7px;
  }

  .features__link--confidentiality h3 {
    padding-bottom: 0;
    line-height: 22px;
  }

  .features__link--price {
    padding-bottom: 26px;
  }
}
