.logo {
  display: flex;

  margin-right: auto;
}

.logo:hover .logo__top-row,
.logo:focus .logo__top-row {
  color: $blue;
}

.logo:active {
  opacity: 0.75;
}

.logo__text {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  padding-top: 7px;
}

.logo img {
  margin-right: 16px;
}

.logo__top-row {
  font-family: $font-roboto-c;
  font-size: 25px;
  line-height: 29px;
  font-weight: bold;
  color: $white;
  text-transform: capitalize;
}

.logo__bottom-row {
  font-family: $font-roboto;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: $logo-grey;
}

@media (max-width: $mobile-max-width) {
  .logo img {
    width: 38px;
    height: 38px;
  }

  .logo__text {
    display: none;
  }
}
