.page-footer {
  flex: 0 0 auto;

  font-size: 13px;
  line-height: 24px;
  color: $bg-dark;

  background-color: $bg-light;
}

.page-footer .wrapper {
  border-bottom: 1px solid $socials-grey;
}

.page-footer__top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  max-width: 1465px;
  margin: 0 auto;
  padding: 65px 25px 58px;
}

.page-footer__top-row .inner {
  min-width: 220px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-footer__company {
  display: none;
}

.page-footer__logo {
  margin-bottom: 53px;
}

.page-footer__contacts {
  min-width: 355px;
  padding-left: 18px;
}

@media (max-width: $tablet-max-width) {
  .page-footer__logo {
    margin-bottom: 0;
  }

  .page-footer__socials {
    align-self: center;
  }

  .page-footer__company {
    display: block;
    align-self: center;

    text-transform: uppercase;
    color: inherit;
    opacity: 0.5;
    letter-spacing: 0.5px;
    padding-left: 15px;
    padding-top: 5px;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__top-row {
    flex-wrap: wrap;

    padding: 19px 0 35px;
  }

  .page-footer__top-row .inner {
    flex-direction: row;
    justify-content: space-between;

    min-width: 720px;
    width: 100%;
    padding: 0 25px 25px;
    border-bottom: 1px solid $socials-grey;
  }

  .page-footer__contacts {
    min-width: 345px;
  }
}

@media (max-width: $mobile-max-width) {
  .page-footer__top-row {
    display: block;
    padding: 46px 0 0;
  }

  .page-footer__top-row .inner {
    flex-direction: column;
    align-items: center;

    min-width: auto;
    padding: 0 15px 54px;
  }

  .page-footer__company {
    padding: 26px 0 31px;
  }
}
