html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: $mobile-min-width;
  font-family: $font-pt;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $grey;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.js-modal-open {
  overflow-y: hidden;
}

@media (max-width: $tablet-max-width) {
  .js-modal-open {
    overflow-y: visible;
  }
}

@media (max-width: $mobile-max-width) {
  .js-modal-open {
    overflow-y: visible;
  }
}
