html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: $mobile-min-width;
  font-family: $font-pt;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $grey;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.js-modal-open {
  overflow-y: hidden;
}

.js-accordion-button {
  display: none;
}

@media (max-width: $tablet-max-width) {
  .js-modal-open {
    overflow-y: visible;
  }
}

@media (max-width: $mobile-max-width) {
  .js-modal-open {
    overflow-y: visible;
  }

  .js-accordion-button {
    display: block;

    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    position: relative;

    cursor: pointer;

    &::before {
      content: "";

      position: absolute;
      right: 0;
      top: 8px;

      width: 17px;
      height: 1px;

      background-color: $bg-dark;
      opacity: 0.5;
    }

    &:hover::before,
    &:focus::before {
      opacity: 1;
    }

    &:active::before {
      opacity: 0.75;
    }
  }

  .js-accordion-item-close .js-accordion-button {
    &::after {
      content: "";

      position: absolute;
      right: 8px;
      top: 0;
      width: 1px;
      height: 17px;

      background-color: $bg-dark;
      opacity: 0.5;
    }

    &:active::after {
      opacity: 0.75;
    }
  }
}
