$font-pt: "PT Mono", courier, monospace;
$font-roboto-c: "Roboto Condensed", arial, sans-serif;
$font-roboto: "Roboto", arial, sans-serif;

$grey: #666666;
$logo-grey: #788891;
$bg-dark: #1b2d37;
$bg-light: #fafafa;
$white: #ffffff;
$blue: #00b2ff;
$socials-grey: #cdcdcd;
$border-grey: #ebebeb;
$dark-opacity: rgba(27, 45, 55, 0.8);
$bg-input: #19baff;
$input-focus: #00ccff;
$white-opacity: rgba(255, 255, 255, 0.8);
$dark-tone: rgba(0, 0, 0, 0.2);


$tablet-max-width: 1023px;
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
